<h1>New Post </h1>
<%= render 'form' %>
<%= link_to 'Back', articles_path %>

<!-- So it takes my path, by path it nows which contorller and action, and since it was get new, it know that when i submit it will be post articles#create  -->
